<!DOCTYPE html>
<html>
    <head>
    <title>Hello ruby</title>

    </head>
    <body>
    <p>Welcome to your list</p>

    <ol type="1">
    <% @todos.each do |todo| %>
        <li> <%= todo.name%>>>><%= todo.description%></li>

    <%end%>
    
    </ol>
    



    </body>

</html>